.recipe-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.recipe-item {
    padding: 1em;
    margin-bottom: 2em;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.recipe-item h2 {
    margin-top: 0;
    color: #313438;
}
  